<% if @user.errors.full_messages.any? %>
<div class="alert alert-warning double-alert">
    <% @user.errors.full_messages.each do |error_message|%>
		<%= error_message %> <br>
    <% end %>
  </div>
<% end %>

<h1> New User </h1>
Fill in the details for the user you would like to create. <br><br>

<%= form_for @user, url: create_new_users_path do |f| %> 
<div class="field">
	<%= f.label :fname, 'First name' %><br />
	<%= f.text_field :fname, autofocus: true %>
</div>

<div class="field">
	<%= f.label :lname, 'Last name' %><br />
	<%= f.text_field :lname %>
</div>

<div class="field">
	<%= f.label :function %><br />
	<%= f.text_field :function %>
</div>

<div class="field">
	<%= f.label :email %><br />
	<%= f.email_field :email %><br><br>
</div>

<div class="actions">
	<%= f.submit "Sign up", class: 'btn btn-default' %>
</div>
<% end %>