<% if current_user %>
	<h1 class="establishment-title"><%= current_user.establishment %></h1>
	<div class="row">
		<div class="col-md-12">
			<%= month_calendar events: @events do |date, events| %>
				<%= date.day %>
				<span class="week-number pull-right" ><%= date.strftime("%W").to_i  if date.sunday? %></span>

				<% events.each do |event| %>
					<div>
						<%= link_to event.name, event_path(event.id) %>
					</div>
				<% end %>

			<% end %>
		</div>
	</div>
<% else %>
<body class="home-bg">
	<h1 class="home-title animated rubberBand"> Rooster </h1>
	</body>
<% end %>






