<h1 class="alt-title"> New Question </h1>

Fill in the details for the question you would like to ask. <br><br>
<%= form_for @post do |f| %>
  <%= f.label :title, 'Question:' %> <br>
 <%= f.text_field :title, :maxlength => 75, :size => 60%>

  <br><br>
  <%= f.label :body, 'Body:' %> <br>
  <%= f.text_area :body, :maxlength => 150, :class => "post-body" %>
  <br><br>
  IMPORTANT: you must be logged in to be able to post.
  <br><br>
  <%= f.submit :'Ask!', class: 'btn btn-default'  %>
<% end %>
