<%= week_calendar events: @availabilities do |date, availabilities| %>
  <%= date.day %>

  <% availabilities.each do |availability| %>
  	<div>
  	<% if availability.day && availability.night %>
  		<%= availability.user.fname %> (Day) <br>
  		<%= availability.user.fname %> (Night)
  	<% elsif availability.day %> 
  		<%= availability.user.fname %> (Day)
  	<% else %>
  		<%= availability.user.fname %> (Night)
  	<% end %>
  	</div>
  <% end %>

<% end %>