<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container-fluid">
			<ul class="nav nav-pills">
				<a class="navbar-brand" href="/">
			        <img class="logo" alt="Brand" src="/assets/brand.jpg">
			     </a>
			     <li role="presentation"><a href="/about" class="nav-links">About</a></li>
				
				<% if current_user %>
					<li role="presentation"><a href="/users" class="nav-links">Users</a></li>
					<li role="presentation"><a href="/events" class="nav-links">Events</a></li>
					<li role="presentation"><a href="/posts" class="nav-links">Q&amp;A</a></li>
					<li role="presentation" class="dropdown" >
	    				<a class="dropdown-toggle nav-links" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	     					Calendar <span class="caret"></span>
	    				</a>
	    				<ul class="dropdown-menu">
	    					<li><a href="/availabilities/new">New Availability</a></li>
	    					<li><a href="/availabilities">All Availability</a></li>
	    					<li role="separator" class="divider"></li>
	    					<li><a href="/schedules">Schedules</a></li>
	    					<% if current_user.admin? %>
	    						<li><a href="/schedules/new">New Schedule</a></li>
	    					<% else %>
	    					<% end %>
	    				</ul>
	    			</li>

					<li role="presentation" class="navbar-text navbar-right">Signed in as <%= current_user.fname %> <%= current_user.lname %></li>
					<li role="presentation" class="navbar-right"><%= link_to 'Log out', destroy_user_session_path, method: 'delete', class: "nav-links" %></li>
				<% else %>
					<li role="presentation"><a href="/users/sign_up" class="nav-links">Sign Up</a></li>
					<li role="presentation" class="navbar-right"><%= link_to 'Log in', new_user_session_path, class: "nav-links" %></li>
				<% end %>
			</ul>
		</div>
	</nav>

	<div id="yield-container">
	<div id="flash-wrapper">
		<% if flash[:notice] %>
		<div class="alert alert-success" role="alert"> 
			<%= flash[:notice]%> 
		</div>
		<% elsif flash[:alert]  %>
		<div class="alert alert-danger" role="alert"> 
			<%= flash[:alert] if flash[:alert]%>
		</div>
		<% else %>
		<% end %>
	</div>
	
		<%= yield %>
	</div>

</body>
</html>
